{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}

<section class="container">

    <!-- AFFICHER LES ACTUALITÉS -->
    <div class="jumbotron p-0 page_actualite">
    
        <img src="{{asset(actualite.image)}}" alt="Image de l'actualité"/>

        <div class="bloc_texte">
        
            <h2 class="display-4">{{ actualite.titre }}</h1>
            
            <!-- BOUTON : VOIR LES ACTUALITÉS -->
            <div class="btn_redirection_actualites">
    
                <!-- BOUTON LIEN PAGE ACTUALITES -->
                <button class="btn_redirection">
                    <a href="{{ path('actualites') }}">revenir à la liste&nbsp;<i class="fas fa-arrow-right"></i></a>
                </button>
    
            </div>
        </div>
    
    </div>

    <div>

        <p class="mb-2">
            Publié le {{ actualite.date|date('d/m/Y') }}
        </p>

        <p class="mb-2">{{ actualite.description|nl2br }}</p>

    </div>

    <!-- Verification SI user est connecter -->
    {% if is_granted('ROLE_USER') %}

        <!-- Formulaire de commentaire -->
        {{form_start(form)}}

            {{form_widget(form)}}

            <button type="submit" class="btn btn_menu btn_connexion">Valider</button>
        
        {{form_end(form)}}

    {% else %}
        
        <div class="d-flex flex-column">
            
            <p class="mt-3 mb-3">Pour laisser un commentaire :</p>

            <button class="btn btn_menu btn_connexion">
                <a data-toggle="modal" data-target="#loginModal" href="{{ path('app_login') }}">Se connecter</a>
            </button>

        </div>

    {% endif %}


    <!-- Afficher les commentaires -->
    <div class="container p-0 mt-3">

        <div class="row">

            {% for comment in actualite.comments %}

                <div class="col-sm avis avis_1">

                    <h4>{{comment.userName}}</h4>

                    <p>{{ comment.comment }}</p>

                    <br/>

                    <span>Publié le {{ actualite.date|date('d/m/Y') }}</span>
                    
                    <div class="row etoiles">
                    
                        <i class="far fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    
                    </div>

                    <a href="{{ path('modifierCommentaire', { id: comment.id }) }}" class="btn mt-4 btn-outline-info"><i class="fas fa-tools" title="Modifier"></i></a>

                </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}
