{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}

    <!-- AFFICHER LES ACTUALITÉS -->
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    
        <img src="{{ actualite.image }}" alt="Image de l'actualité"/>

        <div class="col-md-6 px-0">
        
            <h1 class="display-4">{{ actualite.titre }}</h1>
            
            <!-- BOUTON : VOIR LES ACTUALITÉS -->
            <div class="btn_redirection_actualites">
    
                <!-- BOUTON LIEN PAGE ACTUALITES -->
                <button class="btn_redirection">
                    <a href="{{ path('actualites') }}">revenir à la liste&nbsp;<i class="fas fa-arrow-right"></i></a>
                </button>
    
            </div>
        </div>
    
    </div>

    <div>

        <div class="mb-5">
            Publié le {{ actualite.date|date('d/m/Y') }}
        </div>

        <p>{{ actualite.description|nl2br }}</p>

    </div>

<!-- Verification SI user est connecter -->
{% if is_granted('ROLE_USER') %}

    <!-- Formulaire de commentaire -->
    {{form_start(form)}}

        {{form_widget(form)}}

        <button type="submit" class="btn_connexion">Valider</button>
    
    {{form_end(form)}}

{% else %}
    
    <div class="d-flex flex-column">
        
        <p>Pour laisser un commentaire :</p>

        <button class="row btn_connexion">
            <a data-toggle="modal" data-target="#loginModal" href="{{ path('app_login') }}">Se connecter</a>
        </button>

    </div>

{% endif %}


<!-- Afficher les commentaires -->
<div class="container">

    <div class="row">

        {% for comment in actualite.comments %}

            <div class="col-sm avis avis_1">

                <h4>{{comment.userName}}</h4>

                <p>{{ comment.comment }}</p>

                <br/>

                <span>Publié le {{ actualite.date|date('d/m/Y') }}</span>
                
                <div class="row etoiles">
                
                    <i class="far fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                
                </div>

                <a href="{{ path('modifierCommentaire', { id: comment.id }) }}" class="btn btn-outline-info"><i class="fas fa-tools" title="Modifier"></i></a>

            </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
