{% extends 'base.html.twig' %}

{% block title %}{{ actualite.titre }}{% endblock %}

{% block body %}


    {# Btn pour voir la liste des actualites #}
    <div>
        <a href="{{ path('actualites') }}">Retour à la liste</a>
    </div>


    {# Affichage d'actualite #}
    <img src="{{ actualite.image }}" alt="Image de l'actualité"/>

    <h1>{{ actualite.titre }}</h1>

    <div class="mb-5">
        Publié le {{ actualite.date|date('d/m/Y') }}
    </div>

    <p>{{ actualite.description|nl2br }}</p>

    <br>

{# Verification SI user est connecter #}
{% if is_granted('ROLE_USER') %}

    {# Formulaire de commentaire #}
    {{form_start(form)}}

        {{form_widget(form)}}
                <button type="submit" class="btn btn-primary">Valider</button>
    {{form_end(form)}}

    {% else %}
        <a data-toggle="modal" data-target="#loginModal" class="nav-link btn_menu btn_connexion" 
            href="{{ path('app_login') }}">Connectez-vous pour commenter les articles</a>
{% endif %}


{# Affichage de commentaire #}
    <div class="container">

        <div class="row">

            {% for comment in actualite.comments %}

                <div class="col-lg-4">
                    
                    <div class="card">

                        <div class="card-body">
                            <h5 class="small">Publié le {{ actualite.date|date('d/m/Y') }} par {{comment.userName}}</h5>
                            <a href="{{ path('modifierCommentaire', { id: comment.id }) }}" class="btn btn-outline-info"><i class="fas fa-tools" title="Modifier"></i></a>
                            <p>{{ comment.comment }}</p>
                        </div>

                    </div>
                
                </div>

            {% endfor %}
    
        </div>

    </div>
{% endblock %}
