{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}

    <div class="container">
    
        <div>
            <a href="{{ path('actualiteBack') }}">Créer un article</a>
        </div>
    
        <div class="row">

            {% for actualite in actualites %}

            <div class="col-lg-4">
                
                <div class="card">

                    <div class="card-body">
                    
                        <img class="card-img-top" src="{{ actualite.image }}" alt="Image"/>
                        <h5 class="card-title">{{ actualite.titre }}</h5>
                        <div class="small">Publié le {{ actualite.date|date('d/m/Y') }}</div>
                        <p class="card-text">{{ actualite.description|slice(0,100) }}</p>
                        <a href="{{ path('actualite', {id:actualite.id}) }}" class="btn btn-primary">Lire</a>

                    
                    <div class="card">

                        <div class="card-body">
                        
                            <img class="card-img-top" src="{{ actualite.image }}" alt="image"/>
                            <h5 class="card-title">{{ actualite.titre }}</h5>
                            <div class="small">Publié le {{ actualite.date|date('d/m/Y') }}</div>
                            <p class="card-text">{{ actualite.description|slice(0,100) }}</p>
                            <a href="{{ path('actualite', {id:actualite.id}) }}" class="btn btn-primary">Lire</a>
                        
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
       
{% endblock %}

