{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {# Permet d'afficher le type de connexion à l'utilisateur #} 
    
    {# {% if is_granted('ROLE_USER') %}
            
        <p>Vous êtes connecté en tant que membre</p>

    {% else %}

        <p>Vous n'êtes pas membre. <a href="app-register">Inscrivez-vous !</a></p>

    {% endif %} #}

    <!-- SECTION 1 : INTRODUCTION -->
    <section class="container introduction">
    
        <div class="row element_intro">

            <!-- IMAGE INTRO -->
            <div class="col-sm img_intro"></div>

            <!-- BLOC GRIS -->
            <div class="bloc_gris"></div>

            <!-- BLOC TEXTES PRESENTATION -->
            <div class="col-sm presentation">
            
                <div class="bloc_titre_texte">
                    
                    <div class="row titre_introduction">
                        
                        <h2 class="bleu_clair">Tapissier</h2>
                        
                        <img class="apostrophe_petite" src="{{ asset('images/apostrophe_petite_bleu_clair.png')}}" alt="Apostrophe">
                        
                        <h2>Décorateur</h2>

                    </div>

                    <div class="bloc_texte">
                    
                        <h4>Racontons ensemble vos histoires !</h4>

                        <p>Accordant une grande importance au savoir-faire artisanal, notre atelier a à coeur de vous séduire en créant chez vous des émotions et des sensations vous offrant un véritable voyage.</p>

                        <!-- BOUTON LIEN PAGE A PROPOS -->
                        <button class="btn_redirection">
                            <a href="{{ path('apropos') }}">nous connaitre&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                        </button>
                    
                    </div>
                
                </div>

            </div>

        </div>    
    
    </section>

    <!-- SECTION 2 : RÉALISATIONS -->
    <section class="container mb-5 pt-3 pb-3 mt-5 realisations">
    
        <!-- TITRE -->
        <div class="row pb-4 titre_realisations">

            <h2 class="bleu_clair">Nos réalisations</h2>
            
            <img class="apostrophe_petite" src="{{ asset('images/apostrophe_petite_bleu_clair.png')}}" alt="Apostrophe"/>
            
            <h3>Réalisées mains rien que pour vous !</h3>

        </div>

        <!-- TOUTES LES REALISATIONS -->
        <div class="row contenu_realisations">
        
            {% for realisation in lastrealisations %}

            <!-- REALISATION 1 : GRAND BLOC -->
            <div class="realisations {{ loop.first ? 'col-6 grand_bloc' : 'col-3 petit_bloc' }}">
            
                <!-- IMAGE -->
                <div class="image_realisation">

                    <img src="{{ realisation.image }}" alt="Image"/> 

                    <!-- MORE -->
                    <div class="bloc_more">
                
                        <div class="more">
                        
                            <p></p>
                        
                        </div>

                        <!-- FOLLOW -->
                        <div class="follow">
                        
                            <!-- COEUR VIDE -->
                            <i class="far fa-heart"></i>

                            <!-- SHARE -->
                            <i class="fas fa-share-alt"><a href="#"></a></i>
                    
                        </div>
            
                    </div>

                </div>
            
                <!-- TEXTE -->
                <div class="texte_realisations">
                
                    <div class="row pb-2 titre_description">
                    
                        <h4>{{realisation.nomProduit}}</h4>
    
                        <p class="pt-1 {{ loop.last ? 'pl-2' : ' ' }}">{{realisation.caracteristique|length > 30 ? realisation.caracteristique|slice(0, 30) ~ '...' : realisation.caracteristique}}</p>
                    
                    </div>

                    <div class="row mt-4 prix_btn_acheter">
                        
                        <button class="row btn_acheter"><a href="#">Acheter&nbsp;<span class="prix">&nbsp;{{realisation.prix}} €&nbsp;</span></a><i class="fas fa-store"></i></button>
                    
                    </div>
                
                </div>
            
            </div>

            {% endfor %}
    
        </div>

        <div class="btn_redirection_realisations">
        
            <!-- BOUTON LIEN PAGE REALISATIONS -->
            <button class="btn_redirection">
                <a href="{{ path('realisations') }}">découvrir toutes  nos réalisations&nbsp;<i class="fas fa-arrow-right"></i></a>
            </button>
        
        </div>

    </section>

    <!-- SECTION 3 : PROJET PERSONNALISÉ -->
    <section class="container mb-5 pt-3 pb-3 mt-5 projet_personnalise">
    
        <!-- LIGNE CATEGORIES DE PRODUITS -->
        <div class="row categories_produits">
        
            <!-- CATEGORIE 1 -->
            <div class="col-sm bloc_categorie rideau">
                
                <div class="categorie">
                    <p>rideau</p>
                </div>
            
            </div>
        
            <!-- CATEGORIE 2 -->
            <div class="col-sm bloc_categorie tapisserie">

                <div class="categorie">
                    <p>tapisserie</p>
                </div>
            
            </div>

            <!-- CATEGORIE 3 -->
            <div class="col-sm bloc_categorie creation">

                <div class="categorie">
                    <p>création</p>
                </div>
                
            </div>

            <!-- CATEGORIE 4 -->
            <div class="col-sm bloc_categorie decor">

                <div class="categorie">
                    <p>décor</p>
                </div>

            </div>

        </div>

        <div class="lien_projet_personnalise">
             
            <div class="d-flex flex-column titre_personnalise">
                
                <h3 class="bleu_clair">Un projet personnalisé</h3>             

                <h4 class="pt-3">Confiez-le nous !</h4>

                <!-- BOUTON LIEN PAGE RESERVATION RENDEZ-VOUS -->
                <button class="btn_redirection">
                    <a href="{{ path('reservation') }}">réserver un rendez-vous&nbsp;<i class="fas fa-arrow-right"></i></a>
                </button>

            </div>
        
        </div>
    
    </section>

    <!-- SECTION 4 : ACTUALITÉS -->
    <section class="container mb-5 pt-3 pb-3 mt-5 actualites">
    
        <!-- TITRE -->
        <div class="row pb-4 titre_actualites">
        
            <h2 class="bleu_clair">Nos actualités</h2>
            
            <img class="apostrophe_petite" src="{{ asset('images/apostrophe_petite_bleu_clair.png')}}" alt="Petite apostrophe"/>
            
            <h3>Retrouvez-nous près de chez vous !</h3>

        </div>
       
        <div class="row contenu_actualites">

            {% for actualite in lastactualites %}

            <!-- ACTUALITE 1 : ACTUALITES -->
            <div class="actualites {{ loop.last ? 'col-6 grand_bloc' : 'col-3 petit_bloc' }}">
            
                <!-- IMAGE -->
                <div class="image_actualite">
                    
                    <img src="{{ actualite.image }}" alt="Image"/> 

                    <!-- MORE -->
                    <div class="bloc_more">
                
                        <div class="more">
                        
                            <p></p>
                        
                        </div>

                        <!-- FOLLOW -->
                        <div class="follow">

                            <!-- SHARE -->
                            <i class="fas fa-share-alt"><a href="#"></a></i>
                
                        </div>
            
                    </div>

                </div>

                <!-- TEXTE -->
                <div class="texte_actualite">

                    <div class="row pb-2 titre_description">
                
                        <h4>{{ actualite.titre }}</h4>

                        <p class="pt-1">{{ actualite.description|length > 60 ? actualite.description|slice(0, 60) ~ '...' : actualite.description}} 
                        <br/>
                        Le {{ actualite.date|date('d/m/Y') }}</p>
                    
                    </div>
                
                </div>
            
            </div>

            {% endfor %}
        
        </div>

        <div class="pt-4 pb-5 pr-0 btn_redirection_actualites">
        
            <!-- BOUTON LIEN PAGE ACTUALITES -->
            <button class="btn_redirection">

                <a href="{{ path('actualites')}}">découvrir toutes nos actualités&nbsp;<i class="fas fa-arrow-right"></i></a>

            </button>
        
        </div>
    
    </section>

    <!-- SECTION 5 : AVIS -->
    <section class="container-fluid p-0 row section_avis">
    
        <div class="col-sm-4 p-0 img_section_avis"></div>

        <div class="col-sm-8 m-O titre_avis">

            <!-- TITRE -->
            <div class="row titre_actualites">
            
                <h2 class="bleu_clair">Avis</h2>
                
                <img class="apostrophe_petite" src="{{ asset('images/apostrophe_petite_bleu_clair.png')}}" alt="Petite apostrophe"/>
                
                <h3>Ils nous ont fait confiance !</h3>

            </div>

            <!-- TOUT LES AVIS -->
            <div class="flex-column avis_clients">
            
                <div class="row">
                    <!-- AVIS 1 -->
                    <div class="col-sm avis avis_1">

                        <h4>Lucile Laporte</h4>

                        <p>Nous avons commandé à Emotion'elles un décor textile pour notre mariage, elle a su apporter de la magie à ce moment inoubliable.</p>

                        <br/>

                        <span>le 20/01/2020</span>
                        
                        <div class="row etoiles">
                        
                            <i class="far fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        
                        </div>

                    </div>

                    <!-- AVIS 2 -->
                    <div class="col-sm avis avis_2">

                        <h4>Mikael Willem</h4>

                        <p>Johanna a su redonner une seconde vie au fauteuil de mon grand-père, grâce à elle je pense chaque jour à lui et je me remémore nos souvenirs.</p>

                        <br/>

                        <span>le 03/02/2020</span>
                        
                        <div class="row etoiles">
                        
                            <i class="far fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        
                        </div>

                    </div>

                    <!-- AVIS 3 -->
                    <div class="col-sm avis avis_3">

                        <h4>Léa Salomé</h4>

                        <p>Nouvelle maison, nous rideau ! Emotion'elles a su habiller notre intérieur et lui offrir une convivialité sans nulle pareil. Nous sommes ravie de notre cocon.</p>

                        <br/>

                        <span>le 03/03/2020</span>
                        
                        <div class="row etoiles">
                        
                            <i class="far fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        
                        </div>

                    </div>

                </div> 

                <div class="col-sm btn_avis">
            
                    <!-- BOUTON LIEN PAGE REALISATIONS -->
                    <button class="btn_redirection">
                        <a href="#">lire les avis de nos clients&nbsp;&nbsp;<i class="fas fa-arrow-right"></i></a>
                    </button>
            
                </div>
            
            </div>
        
        </div>
    
    </section>

{% endblock %}
