<header class="container-fluid">
    
    <nav class="navbar mt-3 navbar-expand-lg stroke">

        <!-- LOGO -->
        <a class="navbar-brand logo" href="#">Emotion'elles</a>
    
        <!-- MENU BURGER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        
        </button>
    
        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- NAVIGATION -->
            <ul class="navbar-nav menu">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">A propos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes réalisations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('actualites') }}">Actualités</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Réservation</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('contact') }}">Contact</a>
                </li>
            
            </ul>

        </div>
        
        <!-- MON COMPTE / CONNEXION / DECONNEXION -->
        <div>
            {#le lien acces_compte est la route cree dans la basecontroller .elle donne acces a un tableau de bord utilisateur ou admin#}
            <ul class="navbar-nav mr-auto">
                {% if app.user %} 
                    <li class="nav-item">
                          <a class="nav-link" href="{{ path('acces_compte') }}">Mon compte<span class="sr-only">(current)</span></a>
                    </li>
                    {# SI L'utilisateur est connecté on affiche un lien de deconnexion#}
                    <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                    {# Sinon s'il n'est pas connecté on affiche un lien de connexion#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
    
        </div>

    </nav>
    
</header>