<header class="container-fluid">
    
    <nav class="navbar mt-5 mb-5 p-0 navbar-expand-lg stroke fill">

        <!-- LOGO -->
        <a class="navbar-brand bleu_clair logo" href="#">emotion'<span class="bleu_fonce logo">elles</a>
    
        <!-- MENU BURGER -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        
        </button>
    
        <!-- MENU -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    
            <!-- NAVIGATION -->
            <ul class="navbar-nav menu">
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">À propos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes réalisations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('actualites') }}">Actualités</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path ('reservation') }}">Réservation</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                </li>
            
            </ul>

        </div>
        
        <!-- MON COMPTE / CONNEXION / DECONNEXION -->
        <div>

            <ul class="navbar-nav mr-auto">
            {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link btn_menu btn_moncompte" href="{{ path('espace_utilisateur') }}">Mon compte</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link btn_menu btn_deconnexion" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li> 
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn_menu btn_connexion" href="{{ path('app_login') }}">Connexion</a>
                    </li>
            
            {% endif %}



            
             </ul>
    
        </div>

    </nav>
    
</header>