{% extends 'base.html.twig' %}

{% block title %}Mes réalisations{% endblock %}

{% block body %}

    <div class="container">
        
        <div>
        
            <a href="{{ path('realisationsBack') }}">Gérer mes réalisations</a>
        
        </div>
    
    
        <div class="row">

            {% for realisation in realisations %}

            <div class="col-lg-4">
                
                <div class="card">

                    <div class="card-body">
                    
                        <img class="card-img-top" src="{{ realisation.image }}" alt="Image"/>
                        <h5 class="card-title">{{ realisation.nomProduit }}</h5>
                        <p class="card-text">{{ realisation.prix }}</p>
                        <p class="card-text">{{ realisation.caracteristique }}</p>
                        <a href="{{ path('realisation', {id:realisation.id}) }}" class="btn btn-primary">Lire</a>
                    
                    </div>

                </div>
            
            </div>

            {% endfor %}
    
        </div>

    </div>
       
{% endblock %}


