{% extends 'base.html.twig' %}

{% block title %}{{ realisation.titre }}{% endblock %}

{% block body %}

    <div>
    
        <a href="{{ path('realisations') }}">Retour à la liste</a>
    
    </div>

    <img src="{{ asset('realisation.image')}}" alt="Image de la réalisation"/>

    <h1>{{ realisation.nomProduit }}</h1>

    <p>{{ realisation.caracteristique|nl2br }}</p>
    
{% endblock %}