{% extends 'base.html.twig' %}

{% block title %} {{ realisation.nomProduit }} {% endblock %}

{% block body %}

<section class="container">

    <!-- AFFICHER LA REALISATION -->
    <div class="jumbotron p-0 page_realisation">
    
        <img src="{{ asset(realisation.image)}}" alt="Image de la réalisation"/>

        <div class="bloc_texte">
        
            <h2 class="display-4">{{ realisation.nomProduit }}</h2>
            
            <!-- BOUTON : VOIR TOUTES LES REALISATIONS -->
            <div class="btn_redirection_realisations">
    
                <!-- BOUTON LIEN PAGE REALISATIONS -->
                <button class="btn_redirection">
                    <a href="{{ path('realisations') }}">revenir à la liste&nbsp;<i class="fas fa-arrow-right"></i></a>
                </button>
    
            </div>
        </div>
    
    </div>

    <div>
    
        <h4 class="display-4">{{ realisation.nomProduit }}</h4>

        <p class='mt-3 mb-3'>{{ realisation.caracteristique|nl2br }}</p>

        <p class='mb-3'>{{ realisation.prix }}€ - Acheter</p>

    </div>

</section>
    
{% endblock %}