{# Ce dossier est en relation avec le htmlTemplate qui se trouve dans le dossier SERVICE et le fichier EmailService.php. Nous pouvons faire du html dans ce fichier d'envoi de message. #}

{% extends "email/base.email.twig" %}

{% block body %}
    
    <p>Bonjour Emotion'elles,</p>

    <br>

    <p>Vous avez reçu un message de :</p>

    <br>

    <ul>
    
        <li style='list-style-type:none'>{{ nom }} &nbsp; {{ prenom }}</li>
        <li style='list-style-type:none'><a href="tel:{{ numero }}">{{ numero }}</a></li>
        <li style='list-style-type:none'><a href="mailto:{{ mail }}">{{ mail }}</a></li>

    </ul>

    <div>{{ message|nl2br }}</div>

{% endblock %}